.wkl-product-list {
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}
.wkl-product-list .media {
  margin-bottom: 26px;
}
.wkl-product-list .media img {
  width: 100px;
  height: 100px;
}
.wkl-product-list .media .media-body {
  position: relative;
}
.wkl-product-list .media .media-body h4 {
  display: inline-block;
}
.wkl-product-list .media .media-body span {
  color: #ed0000;
  display: block;
  margin-top: 10px;
  font-size: 18px;
}
.wkl-product-list .media .media-body .media-supple {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.wkl-product-list .media .media-body .media-supple span,
.wkl-product-list .media .media-body .media-supple a {
  font-size: 12px;
  color: #a1a1a1;
}
.wkl-page {
  margin: 0 auto;
  padding: 12px 0;
  background: #f2f2f2;
}
.wkl-page a {
  background-image: linear-gradient(to bottom, #eeeeee, #d5d5d5);
}
.wkl-page select {
  height: 34px;
  padding-left: 15px;
}
.wkl_bread {
  padding: 0;
}
.wkl_bread .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
.wkl_bread ol {
  background: linear-gradient(to bottom, #fff, #ededed);
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 0;
}
