body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
p,
textarea,
select,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
i {
  font-style: normal;
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 250, 232, 0.2);
  display: none;
}
.overlay img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  margin: -80px 0 0 -25px;
}
/*页面顶栏*/
.cd-hd {
  height: 44px;
  padding-top: 12px;
  font-size: 20px;
  color: #fff;
  background-color: #ff8b00;
}
.cd-hd a {
  color: #fff;
}
.cd-hd .back {
  margin-left: 20px;
}
.cd-hd .title {
  margin-left: 22%;
}
/*顶部tab栏*/
.top-tab {
  width: 100%;
  height: 38px;
  line-height: 38px;
}
.top-tab #wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.top-tab .list {
  position: relative;
  width: 200%;
}
.top-tab .list > li {
  float: left;
  height: 37px;
  padding: 0 12px;
}
.top-tab .list .active {
  border-bottom: 1px solid #e4393c;
}
/*商品列表*/
.baicai-productlist {
  background-color: #f7f7f7;
  padding-top: 4px;
}
.baicai-productlist .list > li {
  background-color: #fff;
  margin-top: 4px;
  padding: 10px 5px;
}
.baicai-productlist .list > li img {
  float: left;
  height: 130px;
  width: 130px;
  margin-right: 6px;
  border: 1px solid #c0c0c0;
  overflow: hidden;
}
.baicai-productlist .list .explain {
  width: 62%;
}
.baicai-productlist .list .explain .title {
  width: 100%;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}
.baicai-productlist .list .explain .price {
  padding-top: 6px;
  padding-bottom: 12px;
  font-size: 20px;
  color: #fc3571;
}
.baicai-productlist .list .explain .price i {
  margin-right: 6px;
  font-size: 12px;
}
.baicai-productlist .list .explain .price em {
  font-size: 12px;
}
.baicai-productlist .list .explain .price del {
  padding-left: 6px;
  font-size: 12px;
  color: #a8a8a8;
}
.baicai-productlist .list .explain .schedule {
  padding-bottom: 6px;
}
.baicai-productlist .list .explain .schedule .bar {
  font-size: 12px;
}
.baicai-productlist .list .explain .schedule .bar span {
  display: inline-block;
  height: 14px;
  width: 82px;
  margin-right: 6px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background-color: #ffb7b7;
  border: 1px solid #fc353a;
  border-radius: 6px;
}
.baicai-productlist .list .explain .schedule .bar b {
  color: #fc353a;
}
.baicai-productlist .list .explain .coupon {
  padding-top: 8px;
}
.baicai-productlist .list .explain .coupon > a {
  float: left;
  width: 110px;
  height: 26px;
  display: block;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  border: 1px dashed #fc353a;
}
.baicai-productlist .list .explain .coupon .link {
  float: right;
  height: 28px;
  width: 60px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background-color: #ff5e5d;
  border-radius: 6px;
}
.wkl_footer {
  background: #efefef;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  color: #666;
}
.wkl_footer .footer_top {
  margin-top: 10px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.wkl_footer .footer_top a {
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 33%;
  height: 34px;
  line-height: 34px;
}
.wkl_footer .footer_top .footer_return {
  border-right: 0px solid #c4c4c4;
}
.wkl_footer .footer_bottom {
  background: #efefef;
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  color: #666;
}
.wkl_footer .footer_bottom .bottom_phone {
  color: red;
}
